.card {
    padding: 20px;
  }
  
  .player-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    align-items: center;
  }
  
  .player-card img {
    width: 100px;
    height: auto;
    background-color: aqua;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .player-info {
    display: flex;
    flex-direction: column;
  }
  